In [2]:
import pandas as pd

In [3]:
data = pd.read_json('../result-40e7a65a-fe31-4e83-a17a-2e28eb6772a6.json')

In [4]:
len(data)

30000

In [5]:
data.describe()

       JUM_PENDAFTAR    JUM_PERJAB        ROWNUM
count   30000.000000  30000.000000  30000.000000
mean       16.293200      1.557567  45000.500000
std       223.374938      9.625032   8660.398374
min         0.000000      0.000000  30001.000000
25%         2.000000      1.000000  37500.750000
50%         5.000000      1.000000  45000.500000
75%        12.000000      1.000000  52500.250000
max     31435.000000   1480.000000  60000.000000

In [8]:
data.

,INSERT_DATE,INS_NM,JAB_NM,JENIS_FORMASI_NM,JUM_PENDAFTAR,JUM_PERJAB,LINK_WEB_INS_DAFTAR,LOKASI_NM,PENDIDIKAN_NM,ROWNUM
0,2018-10-10 15:40:14,PEMERINTAH KAB. PURBALINGGA,TENAGA KESEHATAN,HONORER,0,1,https://drive.google.com/open?id=1PnBzw9BwP7wM...,PUSKESMAS DI LINGKUNGAN DINAS KESEHATAN,D-III BIDANG KESEHATAN,30001
1,2018-10-10 15:40:14,PEMERINTAH KAB. BANJARNEGARA,GURU BAHASA INDONESIA AHLI PERTAMA,UMUM,27,1,https://drive.google.com/file/d/1_FQ-3yXXaSXrw...,SMPN 2 PEJAWARAN,S-1 PENDIDIKAN BAHASA INDONESIA,30002
2,2018-10-10 15:40:14,PEMERINTAH KAB. BLORA,GURU KELAS AHLI PERTAMA,UMUM,10,1,https://www.dropbox.com/s/qagszaswtkjxsua/PERU...,SDN SOKO KECAMATAN JEPON,S-1 PENDIDIKAN GURU SEKOLAH DASAR,30003
3,2018-10-10 15:40:14,PEMERINTAH KAB. BLORA,GURU KELAS AHLI PERTAMA,UMUM,4,1,https://www.dropbox.com/s/qagszaswtkjxsua/PERU...,SDN 1 KETRINGAN KECAMATAN JIKEN,S-1 PENDIDIKAN GURU SEKOLAH DASAR,30004
4,2018-10-10 15:40:14,PEMERINTAH KAB. BLORA,GURU KELAS AHLI PERTAMA,UMUM,7,1,https://www.dropbox.com/s/qagszaswtkjxsua/PERU...,SDN 1 NGLEBUR KECAMATAN JIKEN,S-1 PENDIDIKAN GURU SEKOLAH DASAR,30005

In [11]:
len(data['ROWNUM'].unique())

30000